
form{
    text-align: center;
    margin: 5% 30% 5% 30%;
    background-color: #E7EAED;
    padding: 3% 0;
}
input{
    width: 180px;
    height: 25px;
    padding-bottom: 5px;
    border-radius: 7px;
}
.box{
    margin: 0 2%;
}
#checkbox{
    width: 17px;
    height: 13px;
    margin: 13px 0;
    margin-left: -3px;
}
span{
    color: rgb(12, 170, 12);
}
#submit{
    width: 59%;
    height: 35px;
    background-color: rgb(21, 134, 21);
    color: white;
    font-weight: 700;
    font-size: 15px;
}
.login{
    width: 60%;
}
.submit{
    width: 60%;
    height: 35px;
    font-weight: 700;
    font-size: 16px;
    background-color: rgb(26, 26, 214);
    color: white;
}


.form{
    margin: 5% 22%;
}
.form input{
    width: 185px;
    height: 23px;
    padding-bottom: 3px;
    margin-left: 5px;
    padding-left: 15px;
    margin-right: 35px;
}
label{
    font-weight: 700;
    margin-left: 10px;
}
label.gender{
    margin-left: -43%;
}
#gender{
    margin: 0 -80px 0 -50px;
    height: 15px;
}
input #gender{
    margin: 0 -74px 0px -74px
}
#date{
    width: 19%;
}
label.adderss{
    margin-left: -121px;
}
label.user{
    margin-left: -9px;
}
